.card {
    width: 100px;
    height: 150px;
    position: relative;
    cursor: pointer;
    perspective: 1000px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card .card-back {
    background-color: #ddd;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}