.riddle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border-radius: 8px;
    margin-bottom: 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .riddle-container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }